/*Common CSS*/
body {
	background-image: url('../img/background.png');
}

a {
	color: #c1aa7e;
}

a:hover {
	color: #ff6a28;
	text-decoration: none;
}

.active a {
	color: #ff6a28;
}

.container {
	width: 1000px;
}

/*Wrappers*/
.verticalwrapper {
	width: 40px;
	height: 100%;
	margin: 0 0 0 0;
	background-color: black;
	opacity: 0.3; 
	filter:alpha(opacity=30); /*Opacity for IE*/
	-moz-opacity:0.3; /*Opacity for Mozilla*/
}

.verticalminiwrapper {
	width: 10px;
	height: 100%;
	margin: 0 0 0 0;
	background-color: black;
	opacity: 0.3;
	filter:alpha(opacity=30); /*Opacity for IE*/
	-moz-opacity:0.3; /*Opacity for Mozilla*/
}

/*Header*/
.head {
	height: 340px;
	width: 1000px;
	margin: 0 0 0 0;
}

.content {
	height: 550px;
	width: 1000px;
	margin: 0 0 0 0;
}

.shape {
	height: 167px;
	width: 324px;	
	opacity: 0.05;
	filter:alpha(opacity=5);
	-moz-opacity:0.05;
	position: absolute;
	margin-left: -43px;
	background-image: url('../img/img1.png');
}

.logospan {
	height: 340px;
	width: 365px;
	margin: 0 0 0 0;
}

.logorow1 {
	height: 180px;
	width: 365px;
	margin: 0 0 0 0;
	background-image: url('../img/logo.png');
	border-bottom-style:dotted;
	border-color: white;
	border-width: 2px;
}

.logorow2 {
	height: 100px;
	width: 365px;
	margin: 0 0 0 0;
	padding-top: 60px;
	font-size: 25pt;
	text-align: center;
	background-color: #c1a97e;
	
}

.logospanr {
	width: 575px;
	margin: 0 0 0 0;
	height: 100%;
	background-image: url('../img/right.png');
}

/*Menu*/

/*The Menu Over Screen, if need
.headwidth {
	background-color: black;
	width: 100%;
	height: 50px;
	margin: 0 0 0 0;
	position: absolute;
	left: 0px;
	z-index: 0;
}
//Add Empty Div with this class before .menu Div
*/ 

.menu {
	background-color: black;
	height: 50px;
	color: #c1aa7e;
	position: relative;
	z-index: 1;
	margin: 0 0 0 0;
	border-top-style:solid;
	border-bottom-style:solid;
	border-color: white;
	border-width: 1px;
	padding-top: 10px;
}

.menuwrapper {
	width: 100px;
	height: 36px;
	float: left;
}

/*Big Menu*/
.menuimgwrapper {
	width: 80px;
	height: 100%;
	float: left;
	background-image: url('../img/img2.png');
	background-repeat:no-repeat;
	background-position:center;
}


.menuelement {
	min-width: 80px;
	height: 36px;
	float: left;
	font-size: 12pt;
	text-align: center;
	text-transform: uppercase;
	padding-top: 14px;
}

/*Small Menu*/
.menuminielement {
	min-width: 50px;
	height: 36px;
	float: left;
	text-align: center;
	padding-top: 8px;
}

.menuminielement a:hover {
	color: #ff6a28;
	text-decoration: none;
}

.menuminiwrapper {
	width: 20px;
	height: 36px;
	float: left;
	text-align: center;
	padding-top: 8px;
}

/*Footer*/
.bottomelement {
	width: 200px;
	height: 36px;
	float: left;
	text-align: center;
	padding-top: 8px;
}

.menumegawrapper {
	width: 200px;
	height: 36px;
	float: left;
}

/*One column view*/
.displaycontent {
	width: 935px;
	height: 100%;
	margin: 0 0 0 0;
	overflow:auto;
	background-color: #f9f0d4;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	color: #333333;
	font-size: 17px;
}

.displaycontent #main {
	margin-top: 25px;
	font-size: 20px;
	line-height: 2;
	text-align: center;
}

/*Two column view*/
.leftcontent {
	height: 100%;
	width: 355px;
	margin: 0 0 0 0;
	overflow:auto;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #c1a97e;
}

.rightcontent {
	height: 98%;
	width: 560px;
	margin: 0 0 0 0;
	overflow:auto;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	background-color: #f9f0d4;
}

.leftcontent a {
	
	color:  #f9f0d4;
}

.leftcontent a:hover {
	color: #ff6a28;
	text-decoration: none;	
}

/*Catalog*/

.bigitem {
	background-image: url('../img/item1.png');
	width: 505px;
	height: 118px;
	margin-top: 20px;
}

.bigitem img {
	position: relative;
	margin-left: -5px;
	margin-top: 20px;
}

.bigitem .name {
	position: relative;
	margin-top: -90px;
	margin-left: 122px;
	font-size: 12pt;
	color: wheat;
}

.bigitem .description {
	position: relative;
	margin-top: 30px;
	margin-left: 140px;
	font-size: 12pt;
	color: #614a33;
}

.bigitem .fulldescription {
	position: relative;
	margin-top: 50px;
	margin-left: 0px;
	font-size: 12pt;
	color: #614a33;
}

.item {
	background-image: url('../img/item.png');
	width: 328px;
	height: 118px;
	margin-top: 20px;
}

.item img {
	position: relative;
	margin-left: -5px;
	margin-top: 20px;
}

.item .name {
	position: relative;
	margin-top: -97px;
	margin-left: 122px;
	font-size: 12pt;
	color: #ff6a28;
}

.item .description {
	position: relative;
	margin-top: 30px;
	margin-left: 150px;
	font-size: 12pt;
	color: #614a33;
}

.table td.right {
	text-align: right;
}

/*Admin*/
.nav-pills > .active > a {
	background-color: black;
	color: #c1aa7e;
}

.nav-pills > .active > a:hover {
	background-color: black;
	color: #ff6a28;
}
